/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

.input-row label + select {
    float: right;
    width: 64%;
    border-bottom: 0;
    margin-bottom: 4px;
    padding-left: 10px;
    margin-right: 4px;
    margin-top: 4px;
}